{% extends 'base.html' %}

{% block content %}

    <div class="clearfix"></div>

    <div class="bgsec bg-white">
      <div class="maincontent">
      </div>
      <div class="maincontent">
      </div>
      <div class="container">
        <div class="section-header text-center">
          <h2 class="text-theme-highlight fw700 page-title  ">
         User Not Found! </h2>
          <p>
            <a href="{% url 'user_signup' %}">Sign up</a> here if you're a new employee.
          </p>
          <p>
            Shall you have any enquiries using this system please contact our I.T. hotline 321-789-1234 or support@ccgc.com.
          </p>
        </div>

        <div class="maincontent">
        </div>
        <div class="maincontent">
        </div>
      </div>
    </div>

{% endblock content%}
