{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="signup-outer">
        <div class="signup-box mt-4 box-shadow">
          <h3 class="text-center mb-3">
            Welcome to <a href="{% url 'home' %}">CCGC</a>
          </h3>

          <form method="post" action="{% url 'user_signup' %}">
            {% csrf_token %}
            {% for field in form %}
              {% if field.name != 'password1' and field.name != 'password2' %}
                <div class="form-group">
                  <label>{{ field.label }}</label>
                  {{ field }}
                  {{ field.errors }}
                </div>
              {% endif %}
            {% endfor %}
            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                class="form-control"
                name="password1"
                required
              />
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input
                type="password"
                class="form-control"
                name="password2"
                required
              />
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="bg-theme-new margin-bottom30 mt-4 txtwhite btn-round txtblack action d-block text-center"
                style="width: 100%;"
              >
                <i class="fa fa-calendar"></i> Signup Now
              </button>
            </div>
            <div class="form-group">
              <h5>
                Existing User? <a href="{% url 'user_login' %}">Login</a>
              </h5>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
