{% extends "sabase.html" %}

{% block extra_head %}
  <script>
  function confirmDelete(formId, clientsCount) {
    if (confirm("Are you sure you want to delete this category?")) {
      if (clientsCount > 0) {
        if (confirm("This category has associated clients. Deleting it will also delete those clients. Are you sure you want to proceed?")) {
          document.getElementById(formId).submit();
        }
      } else {
        document.getElementById(formId).submit();
      }
    }
  }
  </script>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <a href="{% url 'add_clientcategory' %}" class="btn btn-success" style="margin-top: 20px;">New Category</a>

        <div class="signup-box box-shadow mt-3">
          <h3 class="text-center mb-3 fw700">
            Client Categories Management
          </h3>

          <table class="mt-3 table-bordered table-striped w-100">
            <thead>
              <tr>
                <th>Category Name</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for category in categories %}
                <tr>
                  <td>{{ category.category_name }}</td>
                    <td>
                      <div style="display: flex; align-items: center; justify-content: center;">
                        <a href="{% url 'edit_clientcategory' category.category_id %}" class="btn btn-primary">Edit</a>
                      </div>
                    </td>
                  <td>
                    <div style="display: flex; align-items: center; justify-content: center;">
                      <form method="post" style="margin-top: 15px;" action="{% url 'delete_clientcategory' category.category_id %}" id="deleteForm{{ category.category_id }}">
                        {% csrf_token %}
                        <button type="button" class="btn btn-danger" onclick="confirmDelete('deleteForm{{ category.category_id }}', {{ category.clients_set.count }});">Delete</button>
                      </form>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock %}
